* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    padding: 4rem 2rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* font-style: normal; */
    color: #F2F2F2;
    max-width: 800px;
}

a {
  text-decoration: none;
  color: #F2F2F2;
  white-space: nowrap;
}

a:hover {
  background-color: #F2F2F2;
  color: #1A1A1A;
  cursor: pointer;
}

h2.page-title {
  font-size: xx-large;
  margin-top: 0;
}

h2 {
  margin-top: 2rem;
}

p {
  line-height: 1.6;
  margin-top: 2rem;
}

li {
  margin-top: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-container {
  display: none;
}

.external-arrow {
  margin-left: 0.3em;
}

#mobile-menu-open {
  display: flex;
  font-size: xxx-large;
}

#mobile-menu-open:hover {
  cursor: pointer;
}

#mobile-menu-close {
  display: flex;
  justify-content: end;
  font-size: xxx-large;
}

#mobile-menu-close:hover {
  cursor: pointer;
}

#mobile-nav-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.hidden {
  display: none;
}

.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #1A1A1A;
  color: #F2F2F2;
  padding: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.side-panel.show {
  transform: translateX(0);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 8rem;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10rem 3rem 10rem 3rem;
}

.date {
  font-size: small;
  font-style: italic;
}

/* Tablet and up */
@media(min-width: 768px) {
  #nav-container {
    display: flex;
    gap: 0.5rem;
  }

  #mobile-menu-open {
    display: none;
  }

  h2.page-title {
    font-size: xxx-large;
  }
}

/* Small desktops */
@media (min-width: 1024px) {

}

/* Large desktops or ultra-wide */
@media (min-width: 1440px) {

}
