/* HTML Tag Level */
h2 {
  text-align: center;
}

/* Class Level */
.working-list-desc {
  margin-top: 0.5em;
}

/* ID Level */
#about {
  margin-top: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

#hero-text {
  padding: 3em 0 0 0;
  text-align: center;
}

#ascii-computer {
  font-size: xx-small;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#working-list {
  text-align: center;
  list-style-position: inside; /* centers bullet points as well as text */
}

/* Tablet and up */
@media(min-width: 768px) {}

/* Small desktops */
@media (min-width: 1024px) {
  #ascii-computer {
    font-size: small;
  }
}

/* Large desktops */
@media (min-width: 1440px) {}