#about {
  margin-top: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

#hero-text {
  padding: 3em 0 0 0;
  text-align: center;
}

#ascii-computer {
  font-size: xx-small;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
}

#working-list {
  text-align: center;
  list-style-position: inside;
}

#working-list li {
  margin-top: 1rem;
}

.working-list-desc {
  margin-top: 0.5em;
}

/* Tablet and up */
@media(min-width: 768px) {
  #hero {
    flex-direction: row;
  }

  #hero-text {
    height: 100%;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    padding: 0 0 0 5em;
  }

  #ascii-computer {
    font-size: x-small;
  }

  h2 {
    text-align: left;
  }

  #working-list {
    text-align: left;
    padding-left: 4em;
  }

  #working-list li {
    margin-top: 1rem;
  }

  .working-list-desc {
    padding-left: 4em;
    margin-top: 0.5em;
  }
}

/* Small desktops */
@media (min-width: 1024px) {
  #ascii-computer {
    font-size: small;
  }
}

/* Large desktops or ultra-wide */
@media (min-width: 1440px) {

}

/* Ultra-wide desktops (e.g. 1920px and up) */
@media (min-width: 1920px) {

}