* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 4rem 2rem;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    color: #F2F2F2;
}

.nav-container {
    overflow: hidden;
    position: relative;
}

.nav-container #my-links {
    display: none;
}

.nav-container a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-container a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-container a:hover {
  background-color: #ddd;
  color: black;
}

.content {
    max-width: 800px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    padding-right: 100px;
}

h2 {
    font-weight: 400;
    font-size: large;
    margin-top: 1em;
}

.about {
    font-weight: 300;
    margin-top: 2em;
    font-size: small;
    line-height: 1.5;
}