* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 4rem 2rem;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    color: #F2F2F2;
}

.content {
    max-width: 800px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
    font-size: large;
    margin-top: 1em;
}

.about {
    font-weight: 300;
    margin-top: 2em;
    font-size: small;
    line-height: 1.5;
}