* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 4rem 2rem;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    color: #F2F2F2;
}

@media (min-width: 1200px) {
  body {
    padding: 4rem 12rem;
  }
}

@media (min-width: 1600px) {
  body {
    padding: 4rem 24rem;
  }
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  color: #F2F2F2;
}

.nav-item:hover {
  background-color: #F2F2F2;
  color: #1A1A1A;
}

.external-arrow {
  font-size: 0.8em;
  margin-left: 0.2em;
  vertical-align: super;
}

main p {
  margin-top: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }
}

main {
  display: flex;
  margin-top: 8rem;
}

.hero {
  display: flex;
  align-items: center;
}