#in-progress-list {
  margin-top: 1rem;
  gap: 0.5em;
  padding-left: 4em;
}

li a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.list-arrow {
  font-size: 1em;
}

#completed-header {
  margin-top: 4rem;
}

#completed-checkmark {
  font-size: 1em;
}